/* jura-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jura";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/jura-v31-latin-300.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/jura-v31-latin-300.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* jura-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/jura-v31-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/jura-v31-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* jura-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/jura-v31-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/jura-v31-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* jura-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/jura-v31-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/jura-v31-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: #424242;
  font-family: Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/*Header style start*/
header {
  background: rgba(217, 217, 217, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 29px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 41px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  color: #424242;
  font-size: 30px;
  text-decoration: none;
}
.header__link:hover,
.header__link:active,
.header__link:focus {
  opacity: 0.75;
}
/*Header style end*/

/*Intro style start*/
.intro {
  background: #edeef2 url("../img/svg/start.svg") bottom repeat-x;
  padding-top: 259px;
}
.intro__title {
  font-size: 96px;
  font-weight: 700;
  margin-bottom: 55px;
}
.intro__subtitle {
  font-size: 20px;
  font-weight: 700;
  max-width: 593px;
}
.laptop__icon {
  margin-left: 832px;
  margin-top: -241px;
  margin-bottom: 50px;
}
.contact__button {
  background: #d9d9d9;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 52px;
  padding-right: 52px;
  border-radius: 2px;
  border: none;
  color: #424242;
  font-family: Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 55px;
}
/*Intro style end*/

/*About style start*/
.about {
  background:
    url("../img/png/creating.png") bottom repeat-x,
    url("../img/png/content-bg.png") repeat;
}
.about__photo {
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 461px;
  flex-shrink: 0;
}
.about__wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 69px;
}
.about__text {
  margin-left: 288px;
  margin-top: 32px;
}
.about__title {
  color: #424242;
  font-size: 48px;
  font-weight: 700;
  text-decoration-line: underline;
}
.paragraph {
  padding-top: 25px;
  color: #424242;
  font-size: 20px;
  font-weight: 700;
}
li::marker {
  color: #424242;
  font-size: 100px;
}
#git__profile {
  width: 695px;
  margin-top: 80px;
  margin-left: 585px;
}
#git__stats {
  width: 332px;
  margin-top: -19px;
  margin-left: 0;
}
#git__languages {
  width: 336px;
  margin-top: 0;
  margin-left: 816px;
}
#git__commits {
  width: 336px;
  margin-top: -115px;
  margin-left: 249px;
  margin-bottom: 114px;
}
.end {
  background: url("../img/jpg/tehsup.jpg") repeat-x;
}
/*About style end*/
/*Project style begin*/
.projects__title {
  color: #424242;
  font-size: 48px;
  font-weight: 700;
  text-decoration-line: underline;
  padding-top: 132px;
}
.project {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 225px;
}
.project:first-of-type {
  margin-top: 91px;
}
.project__image {
  width: 620px;
  height: 554px;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#projects__paragraph {
  max-width: 695px;
}
.project__header {
  color: #424242;
  font-size: 48px;
  font-weight: 700;
}
.flex__vertical {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.flex__horizontal {
  display: flex;
  flex-wrap: nowrap;
}
#feedback__header {
  color: #424242;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 48px;
  font-weight: 700;
  padding-top: 198px;
  max-width: 727px;
}
.feedback-form {
  margin-top: 104px;
}
.feedback-form__field {
  background: #d9d9d9;
  border: none;
  flex-shrink: 0;
  color: #424242;
  text-align: left;
  text-indent: 1em;
  font-size: 32px;
  font-weight: 300;
  border-radius: 3px;
}
#feedback-form__field_1 {
  width: 429px;
  height: 82px;
  margin-top: 104px;
  margin-left: 180px;
}
#feedback-form__field_2 {
  width: 429px;
  height: 82px;
  margin-top: 104px;
  margin-left: 60px;
}
#feedback-form__field_3 {
  width: 920px;
  height: 305px;
  margin-top: 52px;
  margin-right: auto;
  margin-left: auto;
}
.submit__button {
  width: 220px;
  height: 51px;
  flex-shrink: 0;
  border: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 52px;
  background: #d9d9d9;
  border-radius: 2px;
  color: #424242;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 84px;
}
/*Project style end*/

footer {
  background: #edeef2;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
}
.rights {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  padding-top: 65px;
}
.phone-number {
  color: #000;
  font-size: 38px;
  font-weight: 700;
  padding-top: 65px;
  margin-left: 524px;
}
.email {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-left: 524px;
  margin-bottom: 47px;
}
